/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Bangers", cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Bangers", cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

* {
	box-sizing: border-box;
	padding: 10;
	margin: 0;
	border: 1px solid grey;
}

header nav {
	display: flex;
	justify-content: space-between;
	color: lightgray;
	margin: 35px 60px;
	text-align: center;
	align-items: center;
	width: 100%;
}

.nav-links {
	width: 50%;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.home {
	display: flex;
	width: 100%;
	align-items: center;
}



.logoContainer {
	display: flex;

}

nav a {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	color: grey;
	font-size: 13px;
	letter-spacing: 1.5px;

}

nav a:hover {
	/*styles are applied when a user hovers over this element*/
	color: #4682b4;
	text-decoration: overline;
}

.top-page {
	display: flex;
	flex-grow: 2;
	margin-bottom: 3%;
	padding: 5px;
	justify-content: space-around;
}

.box {
	display: flex;
	flex-direction: column;
	width: 30%;
	justify-content: center;
	align-items: center;
}

.main-heading {
	display: flex;
	flex-direction: column;
	text-align: center;
}

button {
	background-color: white !important;
	color: black;
	width: 35%;
	height: 10%;
	padding: 3px;
	font-size: 10px;
	border-radius: 12px;
	margin-top: 2%;
}

.first {
	background-color: white !important;
	color: black;
	width: 35%;
	height: 15%;
	padding: 0px;
	font-size: 10px;
	border-radius: 1px;
}

h1 {
	font-size: 50px;
	color: black;
	display: flex;
	flex-wrap: wrap;
}

.headerimg {
	display: flex;
	height: 25%;
	width: 25%;
}

.above {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 10%;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
	border-top: 1px solid black;
}

.above1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: stretch;
	padding: 0% 2.5%;
}

.below1 {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: stretch;
}

.t {
	display: flex;
	padding: 2.5%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex;
	width: 30%;
	/* Or whatever */
}

p {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.middle-img {
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
}

.b {
	display: flex;
	padding: 2.5%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex;
	width: 45%;
	/* Or whatever */

}

.below {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 10%;
	width: 100%;
	margin-bottom: 60px;
	border-bottom: 1px solid black;
}

.Contact {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100px;
	padding: 5%;
	justify-content: space-around;
}

.parent {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: stretch;
	padding: 0% 2.5% 0% 2.5%;
}

.boxy {
	display: flex;
	flex-direction: column;
	margin: 1.5%;
	justify-content: center;
	padding: 20px;
	height: 10%;
	width: 38%;
	background: rgb(238, 238, 238);
	border: 1px solid black;
	font-size: fill;
}

.services-header-img {
	width: 100%;
	display: flex;
	justify-content: center;
}

.services1 {
	padding: 1% 1% 0% 0%;
	font-size: 30px;
	display: flex;
	flex-wrap: wrap;
}

.services-head {
	display: flex;
	padding: 5%;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

.special {
	width: 100%;
	padding-bottom: 1%;
	border-bottom: 1px solid black;
}

.h2 {
	padding-top: 2%;
}

.services-info-img {
	width: 30%;
}

.end {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 40px 40px;
	border-top: 2px solid black;
	width: 100%;
	align-items: center;
}

.end1 {
	display: flex;
	flex-direction: column;
	margin-top: 1.5%;
}

.end2 {
	display: flex;
	height: 15%;
	width: 400px;
}

footer {

	display: flex;
	justify-content: center;
	font: 15px bold;
	align-items: center;
	padding: 30px 0;
}

.list ul {
	margin-top: 4%;

	list-style-type: square;
	padding-left: 30px;
}

.parent2 {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: stretch;
	padding: 0% 2.5% 0% 2.5%;
}

@media screen and (max-width: 800px) {
	.headerimg {
		display: none;
	}




	header nav {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		margin: 0;
		padding: 0;
	}

	.nav-links {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 20px 10px;

	}
}


@media screen and (max-width: 500px) {

	.nav-links{
		display:flex;
		flex-direction:column;
	}

	.nav-links a{
		width:100%;
		border-top: 1px solid black;
	}

	.nav-links a{
		width:100%;
		border-bottom: 1px solid black;
		padding: 20px 0;

	}

	.above{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.above div{
		width:100%;
	}
	.below{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.below div{
		width:100%;
	}
}